@import "../../colors.scss";

:host {
  border: 2px solid $c-a1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

canvas {
  border: 2px solid $c-p1;
  max-width: 100%;
  min-width: 1%;
  min-height: 1%;
  aspect-ratio: 1;
}
