$border-radius: 12px;

:host {
  display: block;
}

code {
  text-wrap: balance;
}

pre {
  margin: 0;
  code.hljs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

// Style the details
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  transition: padding 150ms ease-out;
}

details {
  background-color: hsl(222, 24%, 22%);
  border-radius: $border-radius;
  color: hsl(222, 14%, 69%);
  //color: hsl(222, 9%, 98%);
  margin-top: 1rem;
}

details[open] summary {
  padding-bottom: 1rem;
}
