$border-radius: 0px; //12px;

:host {
  display: block;
}

.hidden {
  height: 0px;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  background-color: hsl(222, 24%, 22%);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: hsl(222, 14%, 69%);
  //color: hsl(222, 9%, 98%);
  margin-top: 1rem;
  padding: 0.5rem;
}

code {
  text-wrap: balance;
}

pre {
  margin: 0;
  code.hljs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
