@import "../colors.scss";

:host {
  display: flex;
  align-items: end;

  background-color: $c-p1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: $c-a1;
  margin: 0;
  padding: 2px 16px;
  transition: 0.3s;
}

// Reset for h/p elements
* {
  margin: 0;
  padding: 0;
}
