/* Add code highlight from resources:
- https://www.npmjs.com/package/ngx-highlightjs
- https://github.com/highlightjs/highlight.js/tree/main/src/styles
*/
@use "../node_modules/highlight.js/styles/default.css";

/* You can add global styles to this file, and also import other style files */
// Reset body and ensure full height/width
body {
  margin: 0;
  height: 100svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
